
<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @rate, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Visual Effects: <%= rating_for @rate, "visual_effects" %>
      <br>
      Original Score: <%= rating_for @rate, "original_score" %>
      <br>
      Director: <%= rating_for @rate, "original_score" %>
      <br>
      Custome Design: <%= rating_for @rate, "custome_design" %>
    <% end %>
  </div>
</div>